{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						"last 2 versions",
						"ie >= 11"
					]
				},
				"modules": false
			}
		],
		[
			"@babel/preset-typescript",
			{
				"allowDeclareFields": true
			}
		]
	],
	"env": {
		"test": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"targets": {
							"node": "current"
						}
					}
				],
				[
					"@babel/preset-typescript",
					{
						"allowDeclareFields": true
					}
				]
			]
		}
	}
} 